
<div class="row">
	<div class="col-md-7">
			<div class="page header" >
			<h3> Announcement </h3>
			</div>
<br/>



<% if @announcements.empty? %>
	<p>No Announcement Found </p>
	<% else %>
	<table border="table table-stiped">
	<thead>
	<tr>
	<th>Title</th>
	<th>Body</th>
	<th>Use ID</th>
	</tr>
	</thead>
	<% @anouncements.each do |anouncement| %>
		<tr>
		<td><%= anouncement.title %></td>
		<td><%= anouncement.body %></td>
		<td><%= anouncement.user_id %></td>
		</tr>
		<% end %>
		<tbody>
		</tbody>
		<% end %>
		</table>

		
</div>




<div class="col-md-5">
		<div class="page-header">
		<h3> <%= link_to "Add Announcement", new_announcement_path %> </h3>
		</div>

</div>

</div>